{%extends 'base.html'%}

{%block content%}
    
    <form action="/logout" method="post">
        {%csrf_token%}
        <input type="submit" value="logout">
    </form>

    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="Add pic to collage">
    </form>
    <div>
        {%for pic in paginated_pics%}
            {{pic.id}}
            <a href="{% url 'edit_image' pk=pic.id %}"><img src="{{pic.image.url}}" alt=""></a>
        {%endfor%}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if paginated_pics.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ paginated_pics.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ paginated_pics.number }} of {{ paginated_pics.paginator.num_pages }}.
            </span>

            {% if paginated_pics.has_next %}
                <a href="?page={{ paginated_pics.next_page_number }}">next</a>
                <a href="?page={{ paginated_pics.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{%endblock%}